body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    & .container {
        width: 70%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        & .tittleCont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        & .itemCont {
            display: flex;
            align-items: center;
            padding: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            margin-bottom: 10px;
            & .logoCont {
                display: flex;
                justify-content: center;
                align-items: center;
                width: 50px;
                height: 50px;
                background: pink;
                border-radius: 50%;
                margin-right: 10px;
            }
        }
    }
}


