body {
    font-family: "Montserrat", sans-serif;
    margin: 0;
    padding: 0;
    & .container {
        width: 70%;
        height: 100%;
        position: absolute;
        left: 50%;
        transform: translateX(-50%);
        & .tittleCont {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 0 20px;
        }
        & .spinCont {
            display: flex;
            justify-content: center;
            align-items: center;
        }

        & .itemCont, .sortCont {
            display: flex;
            align-items: center;
            padding: 10px;
            border: 1px solid lightgrey;
            border-radius: 5px;
            margin-bottom: 10px;
            & .leftCont {
                display: flex;
                justify-content: center;
                align-items: center;
            }
            & .rightCont {
                width: 200px;
                padding-right: 20px;
            }
            & .logo {
                width: 50px;
                height: 50px;
                padding-right: 20px;
                & img {
                    width: 100%;
                }
            }
        }
        & .itemCont {
            justify-content: space-between;
        }
        & .sortCont {
            & .select {
                width: 400px;
            }
        }

    }
}


